<footer>
  <div class="main-width py-4">
    <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-xs-1">
      <div class="brand-details mb-3">
        <div class="footer-brand-logo">
          <div class="navbar-brand flex justify-content-start"><img src="/assets/logo.png" alt="logo"> <span class="fs-5">NookNest</span></div>
          <p class="ps-2 mb-2">Discover seamless booking experiences with NookNest, where we're dedicated to delivering convenience, choice, and exceptional service for every journey.</p>
        </div>
      </div>

      <div class="footer-links flex justify-content-md-around justify-content-start gap-5 gap-md-0 px-md-5 px-4 mb-3 ">
        <div class="left-sec">
          <p>About</p>
          <li><a href="#" class="f-info-links">About Us</a></li>
          <li><a href="#" class="f-info-links">Blog</a></li>
          <li><a href="#" class="f-info-links">Career</a></li>
        </div>
        <div class="right-sec">
          <p>Support</p>
          <li><a href="#" class="f-info-links">Contact Us</a></li>
          <li><a href="#" class="f-info-links">Return</a></li>
          <li><a href="#" class="f-info-links">FAQ</a></li>
        </div>
      </div>

      <div class="footer-socials mt-2">
        <p>Get Updates</p>
        <div class="subscribe-container position-relative mb-4">
          <input type="email" id="subscribe-email" class="form-control" placeholder="Enter your email..." autocomplete="no">
          <div class="btn btn-light me-2 top-50 translate-middle-y">Subscribe</div>
        </div>

        <div class="f-info-socials flex justify-content-start gap-md-3 gap-1">
          <i class="fa-brands fa-instagram flex"></i>
          <i class="fa-brands fa-x-twitter flex"></i>
          <i class="fa-brands fa-facebook-f flex"></i>
          <i class="fa-brands fa-discord flex"></i>
          <i class="fa-brands fa-tiktok flex"></i>
        </div>
      </div>
    </div>

    <div class="f-info mt-3">
      <div class="text-start">&copy; 2024 NookNest. Developed by Golak Bihari Bemal. All rights reserved.</div>
      <div>
        <a href="#" class="f-info-links">Privacy</a>
        <a href="#" class="f-info-links">Terms</a>
      </div>
    </div>
</footer>